body {
    color: black;
    background-color: white;
}
main{
    width: 30rem;
    margin: 1rem auto;
}
.davi {
    width: 15rem;
    height: 20rem;
}
.criatividade{
    width: 35rem;
    height: 20rem;
}
.una {
    width: 10rem;
    height: 3rem;
}