body {
    background-color: blanchedalmond;
    margin-right: 1rem;
    padding: 50px;}

.h1 {
    font-size: 60px; /* tamanho da font /*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;}
    
.h2 {
    font-size: 30px; /* tamanho da font /*/
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;} 

.produtoImagem {
    background-position: right;
    margin-right: 8px;
    display: center;}

section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;}

.produto {
    background-color: rgb(255, 199, 115);
    padding: 30px;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    width: 32%;
    margin-bottom: 5px;
    box-sizing: border-box;
    text-align: center;}

.detalhes {
    margin-top: 10px;
    max-width: 100%;
    font-size: larger;
    display: center;}

p{padding: 20px; margin-top: 10px;}

.produtoImagem{
    max-width:80%;
    height: auto;}